.margin-bottom {
    margin-bottom: 10px;
}

.margin-left {
    margin-left: 10px;
}

.margin-right {
    margin-right: 10px;
}

.margin-top {
    margin-top: 10px;
}

.padding-top {
    padding-top: 10px;
}

.padding-bottom {
    padding-bottom: 10px;
}

.padding-left {
    padding-left: 10px;
}

.padding-right {
    padding-right: 10px;
}

.float-r {
    float: right;
}

.float-l {
    float: left;
}

.card-body {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

@media (min-width: 0px) and (max-width: 768px) {
    .main-content {
        padding-left: 10px;
        padding-right: 10px;
    }
    .card-body {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}